@import url(http://db.onlinewebfonts.com/c/37086b994764dba84b2ee0f1083bfeed?family=SB+Sans+Interface);
@import url(http://db.onlinewebfonts.com/c/6caf346ed2d9f7e73b5e724c409b135f?family=Mono);
.main{
  padding: 0 24px 291px 24px;
}

.header{
  height: 129px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
}

.author_photo{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(213, 228, 247, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SB Sans Text Mono";
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
}

.author_name{
  font-family: "SB Sans Interface";
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;

}

.contact_style{
  display: flex;
  align-items: flex-start;
  font-family: "SB Sans Interface";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 17.6px;
  color: rgba(85, 88, 250, 1);
  cursor: pointer;

}
.contact_style img{
margin-right: 5.6px;

}
.author_info{
  margin-left: 24px;
}
.author_contact{
  margin-top: 8px;
  margin-left: -17.6px;
  display: flex;

}

.contact_style a{
  text-decoration: none;
}






